table {
    font-family    : arial, sans-serif;
    border-collapse: collapse;
    width          : 100%;
    font-size      : 14px;
    width          : 90%;
}

td,
th {
    border    : 1px solid #a0b6cd;
    text-align: left;
    padding   : 8px;
}

tr:nth-child(even) {
    background-color: #6c5f5f;
}